*.mp4
*.avi
*.mov
*.mpg
*.txt
*.html
*.c
*.log
.vscode/
.qt_for_python/
__pycache__/
vids/
backup/
cythonize.py
yolov3.cfg
yolov3.weights
goturn.caffemodel
goturn.prototext
coco.names
rat.names
!cudaparam.txt
!listabibliotekpython.txt
!listabibliotekpythonfull.txt